
/*NAVBAR*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 6%;
    background:var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor:pointer;
    text-decoration: none;
}

.a{
    text-decoration: none;
    font-size: 1.7rem;
   color: var(--text-color);
   margin-left: 4rem;
   transition: .3s;
}

.navbar .a:hover{
    color:var(--main-color);
}


.icon{
   font-size: 3.6rem;
   color: var(--text-color);
   display: none;
   
}


/*HOME*/

.home{
    min-height: 100vh;
    padding: 10rem 9% 2rem; 
    display: flex;
    justify-content:center;
    align-items: center;
}

.img{
    animation-name: wipe-in-up;
    animation-duration: 2s;
}
.img1{
    margin-bottom: 20px;
    margin-right: 120px;
    animation-name: wipe-in-up;
    animation-duration: 1s;
}

.btn{
    color: white;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p{
    font-size: 1.9rem;
    margin-bottom: 20px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .1s ease;
}

.social-media a:hover{
    background: transparent;
    color: white;
    border:.2rem solid white;
    box-shadow:0 0 1rem white;
}

/*ABOUT*/

/*PORTAFOLIO*/

.portafolio{
    background: var(--bg-color);   
    padding: 10px;
}

.portafolio h2{
    margin-bottom: 4rem;
}

.portafolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portafolio-container .portafolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portafolio-box img{
    width: 100%;
    height: 200px;
    transition: .5s ease;
}

.portafolio-box:hover img{
    transform: scale(1.1);
}

.portafolio-box .portafolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(4, 56, 99, 0.1),#0d0d0e);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portafolio-box:hover .portafolio-layer{
    transform: translateY(0%);
}
.portafolio-layer h4{
    font-size: 3rem;
}

.portafolio-box p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    font-weight: 700;
}

.portafolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portafolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.heading{
    text-align: center;
    font-size: 4.5rem;
    margin-top: 20px;
}


/*CONTACT*/

.heading{
    text-align: center;
    font-size: 4.5rem;
    margin-top: 20px;
}


.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius:.8rem;
    margin:.7rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
    width: 95%;
}

.btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 4%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: var(--main-color);
    border-radius: .8rem;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


/*BREAKPOINTS*/

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width:1009px){
    .img1{
        margin-bottom: 20px;
        margin-right: 100px;
    }
}

@media (max-width:833px){
    .img1{
        margin-bottom: 20px;
        margin-right: 80px;
    }
}

@media (max-width:768px){
    .img1{
        margin-bottom: 20px;
        margin-right: 0px;
    }
}

@media (max-width:991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .portafolio{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width:768px){

   
    
    .icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        border-radius: 0px 0px 15px 15px;
        background: black;
        border: .4rem solid black;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: block;
        animation-name: wipe-in-left;
        animation-duration: 0.5s;
    }

    .navbar a{
        display: block;
        font-size: 2.5rem;
        margin: 3rem 0; 
        background-color: var(--main-color);
        width: 100%;
        border-radius: 15px;
        padding: 10px;
    }

    .active{
        display: none;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column-reverse;
    }
    .about .card{
        width: 80%;
    }

    .about-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .portafolio h2{
        margin-bottom: 3rem;
    }

    .portafolio-container {
        grid-template-columns: repeat(2,1fr);
    }

    .contact form .input-box input{
        width: 95%;
    }
    
}

@media (max-width:617px){
    .portafolio-container{
        grid-template-columns: 1fr;
    }
    .footer{
        width: 100%;
        flex-direction: column-reverse;
    }
    .footer-iconTop{
        margin-bottom: 15px;
    }

    .about h2{
        font-size: 3rem;
        margin-left:50px;
    }

    .about h3{
        font-size: 2rem;
        margin-left: 50px;
    }

    .about .card{
        width: 70%;
        margin-left: 50px;
    }

    .social-media-about{
        margin-left: 50px;
    }
}

@media (max-width:448px){
    html{
        font-size: 50%;
    }

    .about .card{
        width: 70%;
        text-align: center;
    }

    .social-media-about{
        margin-left: 135px;
    }
    
    .about h2{
        margin-left: 190px;
    }

    .about h3{
        font-size: 2rem;
        margin-left: 165px;
    }
    

    .home{
        text-align: center;
    }

}

@media (max-width:419px){

    .home h3{
        font-size: 2.1rem;
    }

    .about .card{
    
        width: 50%;
        margin-left: 100px;
    }
}















@media (max-width:365){
   

    .footer {
        flex-direction: column-reverse;
    }

    

    .footer-iconTop{
        text-align: center;
    }
}




/*ANIMACIONES*/

@keyframes wipe-in-left {
    from {
      clip-path: inset(0 0 0 100%);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:left"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-left both;
  }

/*************************************************************************/
  @keyframes wipe-in-up {
    from {
      clip-path: inset(100% 0 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:up"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-up both;
  }


  /*************************************************************************/


  