<!--NAVBAR-->

<div class="header">
    <a href="#" class="logo">Portfolio</a>
  
    <i class="icon fa-solid fa-bars" (click)="setActive()"></i>
    
  
    <div class="navbar"
    [ngClass]="{'active':active}" (click)="setMenu()">
    <a href="#home" class="a" >Home</a>
    <a href="#about" class="a">About</a>
    <a href="#portafolio" class="a">Portafolio</a>
    <a href="#contacto" class="a" style="margin-right: 5rem;">Contacto</a>
    </div>
  </div>
  
  <!--HOME-->
  
  <section class="home" id="home">
    <div class="home-content">
        <h3>Hello, It's Me</h3>
        <h1>Luis Pichardo</h1>
        <h3 class="span">And I'm a <span>Frontend Developer</span></h3>
        <p>Software development student with knowledge in web page programming. Interested in forming
          part of a software company with the aim of putting my Angular skills into practice and allowing me to
          Develop more as a Front-end programmer.</p>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/luis-pichardo1515/" target="_blank" data-aos="fade-right" data-aos-delay="130" data-aos-duration="1000">
              <i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/lui364" target="_blank" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">
              <i class="fa-brands fa-github"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100087297314276" target="_blank" data-aos="fade-right" data-aos-delay="150" data-aos-duration="1000">
              <i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/luisp151515/" target="_blank" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000">
              <i class="fa-brands fa-instagram"></i></a>
        </div>     
        <a href="assets/Luis Pichardo....pdf"  download="assets/Luis Pichardo....pdf"  class="btn">Download CV</a>
    </div>
  
    <div class="img">
        <img src="assets/Logo.png" data-aos="zoom-out" data-aos-delay="100" data-aos-duration="1000">
    </div>
    
  </section>
  
  
  <!--ABOUT-->
  
  <div class="about" id="about">
  
    <div class="about-img">
        <img src="assets/about.png">
    </div>
  
    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>Frontend Developer</h3>
        <div class="card">
          <p>I specialize in creating websites and applications using the latest web technologies.
              During the development process, I stick to solutions that provide the maximum experience.
               user interface with a minimalist design.</p>
        </div>
        
  
             <div class="social-media-about">
              <a   data-aos="fade-right" data-aos-delay="130" data-aos-duration="1000">
                  <i class="fa-brands fa-angular" style="color: red;"></i></a>
              <a   data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">
                  <i class="fa-brands fa-html5" style="color:rgb(255, 94, 0)"></i></a>
              <a   data-aos="fade-right" data-aos-delay="150" data-aos-duration="1000">
                  <i class="fa-brands fa-css3-alt" style="color: blue;"></i></a>
              <a   data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000">
                  <i class="fa-brands fa-bootstrap" style="color: purple;"></i></a>
              <a   data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000">
                <i class="fa-brands fa-figma" style="color: #aa13be;"></i></a>    
          </div>  
    </div>
  </div>
  
  
  <!--PORTAFOLIO-->
  
  <div class="portafolio" id="portafolio">
      
    <h2 class="heading">Latest <span>Project</span></h2>
  
    <div class="portafolio-container">
  
        <div class="portafolio-box"  data-aos="fade-left" data-aos-delay="100" data-aos-duration="1000">
            <img src="assets/potafolio1.png" alt="">
            <div class="portafolio-layer">
                <h1 style="margin-top: 50px;">ebsite to sell house</h1>
                <h2 style="margin-bottom: 10px;">GO WEBSITE</h2>
                <a target="_blank" href="https://chimerical-figolla-35ec6d.netlify.app"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
        </div>
  
        <div class="portafolio-box"  data-aos="fade-down" data-aos-delay="100" data-aos-duration="1000">
            <img src="assets/potafolio2.png" alt="">
            <div class="portafolio-layer">
                <h1 style="margin-top: 50px;">Website netflix copy</h1>
                <h2 style="margin-bottom: 10px;">GO WEBSITE</h2>
                <a target="_blank" href="https://showtimee.netlify.app"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
        </div>
  
        <div class="portafolio-box"  data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">
            <img src="assets/potafolio3.png" alt="">
            <div class="portafolio-layer">
                <h1 style="margin-top: 50px;">Website rick and morty</h1>
                <h2 style="margin-bottom: 10px;">GO WEBSITE</h2>
                <a target="_blank" href="https://rickandmorty15.netlify.app"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
        </div>
  
        <div class="portafolio-box"  data-aos="fade-left" data-aos-delay="100" data-aos-duration="1000">
            <img src="assets/potafolio4.png" alt="">
            <div class="portafolio-layer">
                <h1 style="margin-top: 50px;">Website create task</h1>
                <h2 style="margin-bottom: 10px;">GO WEBSITE</h2>
                <a target="_blank" href="https://famous-medovik-5a6e31.netlify.app"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
        </div>
  
        <div class="portafolio-box"  data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            <img src="assets/potafolio5.png" alt="">
            <div class="portafolio-layer">
                <h1 style="margin-top: 50px;">Website Pixabay</h1>
                <h2 style="margin-bottom: 10px;">GO WEBSITE</h2>
                <a target="_blank" href="https://guileless-heliotrope-ab8949.netlify.app"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
        </div>
  
        <div class="portafolio-box"  data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">
            <img src="assets/potafolio6.png" alt="">
            <div class="portafolio-layer">
                <h1 style="margin-top: 50px;">Website Questionnaire</h1>
                <h2 style="margin-bottom: 10px;">GO WEBSITE</h2>
                <a target="_blank" href="https://preeminent-baklava-c38dbb.netlify.app"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
        </div>
  
  
    </div>
  </div>
  
  
  <!--CONTACT-->
  
  <div class="contact" id="contacto">
    <h2 class="heading">Contact <span>Me!</span></h2>

    <form>

        <div class="input-box">
            <input type="text" placeholder="Full Name" data-aos="fade-left" data-aos-delay="100" data-aos-duration="1000" >
            <input type="email" placeholder="Email Address" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000" >
        </div>

        <div class="input-box">
            <input type="number" placeholder="Mobile Number" data-aos="fade-left" data-aos-delay="100" data-aos-duration="1000" >
            <input type="text" placeholder="Email Subject" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000" >
        </div>

        <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"
        data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000"></textarea>
        <input type="submit" value="Send Message" class="btn">
    </form>
</div>
  
  
  <div class="footer">
      <div class="footer-text">
          <p>Copyright &copy; 2023 by Luis Pichardo | All Rights Reserved</p>
      </div>
  
      <div class="footer-iconTop">
          <a href="#home"><i class="fa-solid fa-arrow-up"></i></a>
      </div>
  </div>
  
  
  