/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

:root{
    --bg-color: #1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}

html, body {
    font-size: 62.5%;
    max-width: 100% !important;
    overflow-x: hidden !important;
}
img{
    width: 35vw;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

span{
    color: var(--main-color);
}
.span{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 28ch;
    animation:typing 2s steps(28), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing{
    from {width: 0;}
}

@keyframes blink{
    50% {border: transparent;}
}



.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

